.App {
  display: grid;
  grid-template-columns: 250px 100fr;
  grid-template-rows: auto 100fr auto;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.App>header {
  grid-column: 1 / 3;
  background-color: #ffffff;
  z-index: 1000;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  justify-content: space-between;
  box-shadow: var(--shadow);
}

.App>header>.titleVersion {
  display: flex;
  align-items: baseline;
}

.App>header h1 {
  margin: 0;
  margin: 0 10px 0 0;
}

.App .Menubar {
  grid-column: 1 /span 1;
  grid-row: 2 / 2;
  background-color: transparent;
  z-index: 50;
}

.App>main {
  background-color: wheat;
  margin: 10px 10px 10px 10px;
  position: relative;
}

.App>footer {
  z-index: 20;
}

.mapContainer {
  position: relative;
}

.App>footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: var(--shadow);
}

.btDarkModeContainer {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.App.light .btDarkModeContainer{
  background-color: var(--backgroundColorLight);
}

.App.dark .btDarkModeContainer{
  background-color: var(--backgroundColorDark);
}

.btDarkModeContainer .btDarkMode {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  transition: var(--transition);
}

.App.light .btDarkMode{
  border-color: var(--buttonColorLight);
  color: var(--buttonColorLight);
}

.App.light .btDarkMode:hover,
.App.ligth .btDarkMode:active {
  color: var(--backgroundColorLight);
  background-color: var(--buttonColorLight);
}

.App.dark .btDarkMode {
  border: 1px solid var(--buttonColorDark);
  color: var(--buttonColorDark);
}

.App.dark .btDarkMode:hover,
.App.dark .btDarkMode:active {
  color: var(--backgroundColorDark);
  background-color: var(--buttonColorDark);
}
