.HelpBar { 
  z-index: 20;
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.App.light .HelpBar{
  background-color: var(--backgroundColorLight);
}

.App.dark .HelpBar{
  background-color: var(--backgroundColorDark);
}

.HelpBarLink:link, .HelpBarLink:visited {
  text-decoration: none;
  transition: all 0.3s ease;
}

.App.light .HelpBarLink, .App.light .HelpBarLink:visited{
  color: var(--textColorLight);
}

.App.dark .HelpBarLink, .App.dark .HelpBarLink:visited{
  color: var(--textColorDark);
}

.App.light .HelpBarLink:hover, .HelpBarLink:active {
  color: var(--linkHoverLight);
}

.App.dark .HelpBarLink:hover, .HelpBarLink:active{
  color: var(--linkHoverDark);
}