.Menubar>div {
  margin-top: 5px;
  padding: 10px;
  box-shadow: var(--shadow);
}

.App.light .Menubar>div{
  background-color: var(--backgroundColorLight);
  color: var(--textColorLight);
}

.App.dark .Menubar>div{
  background-color: var(--backgroundColorDark);
  color: var(--textColorDark);
}

.Menubar>button {
  border-width: 1px;
  border-style:  solid;
  padding: 6px 10px;
  transition: var(--transition);
  box-sizing: border-box;
  width: 100%;
}

.App.light .Menubar>button{
  background-color: var(--backgroundColorLight);
  border-color: var(--buttonColorLight);
  color: var(--textColorLight);
}

.App.light .Menubar>button:hover, .App.dark .Menubar>button:active {
  background-color: var(--buttonColorLight);
  color: var(--backgroundColorLight);
}

.App.dark .Menubar>button{
  background-color: var(--backgroundColorDark);
  border-color: var(--backgroundColorDark);
  color: var(--textColorDark);
}

.App.dark .Menubar>button:hover, .App.dark .Menubar>button:active {
  background-color: var(--buttonColorDark);
  color: var(--backgroundColorDark);
}

.Menubar .MenuBarInner button {
  padding: 12px;
  margin: 0 6px 5px 0;
  transition: var(--transition);
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

.App.light .Menubar .MenuBarInner button{
  background-color: var(--backgroundColorLight);
  border-color: var(--buttonColorLight);
  color: var(--buttonColorLight);
}

.App.light .Menubar .MenuBarInner button:hover, .App.light .Menubar .MenuBarInner button:active {
  background-color: var(--buttonColorLight);
  color: var(--backgroundColorLight);
  cursor: pointer;
}

.App.dark .Menubar .MenuBarInner button{
  background-color: var(--backgroundColorDark);
  border-color: var(--buttonColorDark);
  color: var(--buttonColorDark);
}

.App.dark .Menubar .MenuBarInner button:hover, .App.dark .Menubar .MenuBarInner button:active {
  background-color: var(--buttonColorDark);
  color: var(--backgroundColorDark);
  cursor: pointer;
}

.MapTypeSelect {
  margin-left: 10px;
  margin-right: 10px;
}

.AdminButton {
  background-color: transparent;
  color: red;
}
