.RoleOverviewContainer {
  z-index: 200;
  position: absolute;
  box-shadow: var(--shadow);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px;
}

.App.light .RoleOverviewContainer {
  background-color: var(--backgroundColorLight);
  color: var(--textColorLight);
}

.App.dark .RoleOverviewContainer {
  background-color: var(--backgroundColorDark);
  color: var(--textColorDark);
}

.RoleOverviewContainer .RoleOverviewHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.RoleOverviewContainer .RoleOverviewHeader h1 {
  margin: 0;
}

.RoleOverviewContainer .ROTable .ROTHeader,
.RoleOverviewContainer .ROTable .singleFlight {
  display: grid;
  grid-template-columns: 5fr 3fr repeat(5, 1fr);
  grid-gap: 1rem;
}

.RoleOverviewContainer .ROTable .ROTHeader div {
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: bold;
  border-width: 0 0 1px 0;
  border-style: solid;
  padding: 0 0 5px 0;
}

.App.light .RoleOverviewContainer .ROTable .ROTHeader div {
  border-color: var(--versionColorLight);
}

.App.dark .RoleOverviewContainer .ROTable .ROTHeader div {
  border-color: var(--versionColorDark);
}

.RoleOverviewContainer .flightContainer {
  overflow-y: auto;
  max-height: inherit;
}

.RoleOverviewContainer .ROTable .singleFlight {
  padding: 10px 0 0 0;
}

.RoleOverviewContainer .ROTable .singleFlight span.vacantSlot {
  opacity: 0.3;
}

.RoleOverviewContainer .CloseButton {
  font-size: 1.1rem;
  border-width: 1px;
  border-style: solid;
  transition: var(--transition);
  padding: 10px;
  border-radius: 0;
  background-color: transparent;
}

.App.light .RoleOverviewContainer .CloseButton {
  border-color: var(--buttonColorLight);
  color: var(--buttonColorLight);
}

.App.dark .RoleOverviewContainer .CloseButton {
  border-color: var(--buttonColorDark);
  color: var(--buttonColorDark);
}

.App.light .RoleOverviewContainer .CloseButton:hover,
.App.light .RoleOverviewContainer .CloseButton:active {
  color: var(--backgroundColorLight);
  background-color: var(--buttonColorLight);
  cursor: pointer;
}

.App.dark .RoleOverviewContainer .CloseButton:hover,
.App.dark .RoleOverviewContainer .CloseButton:active {
  color: var(--backgroundColorDark);
  background-color: var(--buttonColorDark);
  cursor: pointer;
}
