.MissionTime {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
}

.App.light .MissionTime{
    border-color: var(--textColorLight);
}

.App.dark .MissionTime{
    border-color: var(--textColorDark);
}